/Lab2/GameThoeryLab1/.vs
/Lab2/GameThoeryLab1/GameThoeryLab1/bin
/Lab2/GameThoeryLab1/GameThoeryLab1/obj

/Lab3/GameThoeryLab3/.vs
/Lab3/GameThoeryLab3/GameThoeryLab3/bin
/Lab3/GameThoeryLab3/GameThoeryLab3/obj