/Lab2/GameThoeryLab1/.vs
/Lab2/GameThoeryLab1/GameThoeryLab1/bin
/Lab2/GameThoeryLab1/GameThoeryLab1/obj

/Lab3/GameTheoryLab3/.vs
/Lab3/GameTheoryLab3/GameTheoryLab3/bin
/Lab3/GameTheoryLab3/GameTheoryLab3/obj